torch
accelerate
datasets
sentencepiece
safetensors
einops
colorama
pyzmq
peft@git+https://github.com/huggingface/peft.git
transformers
gptq_llama@git+https://github.com/sterlind/GPTQ-for-LLaMa.git@lora_4bit
wandb
packaging