torch
accelerate
datasets
sentencepiece
safetensors
einops
colorama
pyzmq
peft==0.4.0
transformers
gptq_llama@git+https://github.com/sterlind/GPTQ-for-LLaMa.git@lora_4bit
wandb
packaging
